<!DOCTYPE html>
<html>
<head>
	<title>Add an Admin</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<form method = 'POST'>
		Username:<br>
		<input type="text" name="username">
		<br>
		Password:<br>
		<input type="text" name="password">
                <br>
		Level:<br>
		<input type="text" name="level">
		<br><br>
		<input type="button" value="Cancel" onclick="javascript:history.back();return false;"/>
                <input type="submit" value="Submit">
	</form>
</body>
</html>
