<!DOCTYPE html>
<html>
<head>
  <title>Edit A FAQ</title>
</head>
<body>

<h1>Update an Existing Question</h1>
<h2>PPLeeease Change the SEction YOUUUU ned to UPDATEEEEDED</h2>

<p>ID: {{ q.ID }}</p>
<form action="{{url_for('edit')}}"method="POST">
  <input type="hidden" name="id" value = "{{ q.ID }}">
  Topic:<br>
  <input type="text" name="topic" value="{{ q.TOPIC }}">
  <br>
  Qualifier:<br>
  <input type="text" name="qual" value="{{q.QUAL}}">
  <br>
  Answer:<br>
  <input type="text" name="ans" value="{{q.ANS}}">
  <br>
  Priority Level:<br>
  <input type="text" name="pl" value="{{q.PL}}">
  <br><br>
  <input type="button" value="Cancel" onclick="javascript:history.back();return false;"/>
  <input type="submit" value="Submit">
</form>

</body>
</html>
