<!DOCTYPE html>
<html>
<head>
  <title>Edit A FAQ</title>
</head>
<body>

<h1>Update an Existing Question</h1>
<h2>PPLeeease Change the SEction YOUUUU ned to UPDATEEEEDED</h2>

<!--<form method="POST">
  Topic:<br>
  <input type="text" name="topic">
  <br>
  Qualifier:<br>
  <input type="text" name="qual">
  <br>
  Answer:<br>
  <input type="text" name="ans">
  <br>
  Priority Level:<br>
  <input type="text" name="pl">
  <br><br>
  <input type="button" value="Cancel" onclick="javascript:history.back();return false;"/>
  <input type="submit" value="Submit">
</form> -->
<p>ID: {{i}}</p>
<p>Topic: {{ t }} </p>
<p>Qualifier: {{q}}</p>
<p>Answer: {{an}}</p>
<p>Priority Level: {{pl}}</p>

</body>
</html>
