<!DOCTYPE html>
<html>
<head>
<title>Chatbot Admin Page</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Home Page</h1>
<p class="logout"><a href="{{ url_for('logout') }}">Logout</a></p>
<nav>
        <ul>
                <p class="chat"><a href="{{ url_for('show_chat') }}">Chatbot</a></p>
        </ul>
</nav>
<br>
<h2>Manage FAQ's</h2>
<nav>
	<ul>
		<p class="view"><a href="{{ url_for('view') }}">View Questions</a></p>
		<p class="add"><a href="{{ url_for('add') }}">Add A Question</a></p>
		<p class="stats"><a href="{{ url_for('stats') }}">Statistical Analysis</a></p>
	</ul>
</nav>
<h2>Manage Admin's</h2>
<nav>
	<ul>
		<p class="addAdmin"><a href="{{ url_for('addAdmin') }}">Add an Admin</a></p>
		<p class="viewAdmin"><a href="{{ url_for('viewAdmin') }}">View All Admins</a></p>
	</ul>
</nav>
<section>
	<img src="https://static.pexels.com/photos/4620/snow-landscape-trees-winter.jpg" alt="Winter is Coming" width="700" height="300">
</section>

<aside>
	<p>The Sassbot 3000 was designed by a group of Software Engineering students at the University of Texas at San Antonio. The Sassbot 3000 was created for you, the admin. It was designed to improve your day-to-day life and ease of living. The group of students who worked on this project suffered great loss to provide you with the finished product you now see before you. Everytime you use the Sassbot 3000, we hope you think of them and feel great sadness for their loss.</p>
</aside>>



<footer><p>Any use of this website, without consent of the creators, is theft and will be treated as such. In otherwords, just ask.</p></footer>
</body>
</html>
