<!DOCTYPE html>
<html>
<head>
	<title>Statistical Analysis of FAQ</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<br>
	<p>This page will display graphs based on the FAQ for the admin to review and adjust accordingly.</p>
	<img src="https://static.pexels.com/photos/355747/pexels-photo-355747.jpeg" alt="The Clmb" width="700" height="500">
	<br>
	<h1>View Missed Questions</h1>
	<div style="overflow-x: auto">
	<table>
		<tr>
			<th>Topic</th>
			<th>Qualifier</th>
			<th>Times Referenced</th>
			<th>Add</th>
		</tr>
		{% for q, ct in quest.items() %}
			<tr>
				<td>{{ q[0] }} </td>
				<td>{{ q[1] }} </td>
				<td>{{ ct }} </td>
				<td>
					<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Add</button>

					<div id="id01" class="modal">
  
					  <form class="modal-content animate" action="{{ url_for('add') }}" method='POST'>
					    <div class="imgcontainer">
					      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
					      <img src="img_avatar2.png" alt="Avatar" class="avatar">
					    </div>

					    <div class="container">
					      <label><b>Topic</b></label>
					      <input type="text" name="topic" value="{{ q[0] }}">

					      <label><b>Qualifier</b></label>
					      <input type="text" name="qual" value = "{{ q[1] }}">

					      <label><b>Answer</b></label>
					      <input type="text" placeholder="Enter Answer" name="ans" required>
					        
					      <button type="submit">Add</button>
					    </div>

					    <div class="container" style="background-color:#f1f1f1">
					      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
					    </div>
					  </form>
					</div>
				</td>
			</tr>
		{% endfor %}
	</table>
	</div>

	<script type="text/javascript">
		//get the modal
		var modal = document.getElementById('id01');

		//when the user click anywhere outside of the modal, close if
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>
</body>
</html>
