<!DOCTYPE html>
<html>
<head>
<title>Current Questions</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>View Current Questions</h1>
<table>
	<tr>
		<th>ID</th>
		<th>Topic</th>
		<th>Qualifier</th>
		<th>Answer</th>
		<th>Priority Level</th>
        <th>Remove</th>
        <th>Edit</th>
	</tr>
	{% for q in quest %}
		<tr>
			<td>{{ q.ID }} </td>
    		<td>{{ q.TOPIC }} </td>
    		<td>{{ q.QUAL }} </td>
			<td>{{ q.ANS }} </td>
    		<td>{{ q.PL }} </td>
            <td><form method="POST"><input type="hidden" id="q_id" name="id" value="{{ q.ID }}"><input type="submit" value="Delete"></form></td>
            <td><form action="{{ url_for('edit') }}" method = 'GET'>
                <input type="hidden" id="q_id" name="id" value="{{ q.ID }}" />
                <input type="submit" value="Edit">
            </form>
            </td>

    	</tr>
    {% endfor %}
</table>
<nav>
    <ul>
        <p class="chat"><a href="{{ url_for('show_admin') }}">Admin Home Page</a></p>
    </ul>
</nav>
</body>
</html>
