<!DOCTYPE html>
<html>
<head>
	<title>All Administrators</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>View All Administrators</h1>
	<table>
	<tr>
		<th>Username</th>
		<th>Level</th>
		<th>Remove</th>
	</tr>
	{% for u in users %}
		<tr>
			<td>{{ u.UN }} </td>
			<td>{{ u.LVL }}</td>
			<td><form method="POST"><input type="hidden" name="username" value="{{ u.UN }}"><input type="submit" value="Delete"></form></td>
    	</tr>
    {% endfor %}
</table>
<nav>
    <ul>
        <p class="chat"><a href="{{ url_for('show_admin') }}">Admin Home Page</a></p>
    </ul>
</nav>
</body>
</html>
