<!DOCTYPE html>
<html>
<head>
<title>Current Questions</title>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<h1>View Current Questions</h1>
<table>
	<tr>
		<th>ID</th>
		<th>Topic</th>
		<th>Qualifier</th>
		<th>Answer</th>
		<th>Priority Level</th>
        <th>Remove</th>
        <th>Edit</th>
	</tr>
	{% for q in quest %}
		<tr>
			<td>{{ q.ID }} </td>
    		<td>{{ q.TOPIC }} </td>
    		<td>{{ q.QUAL }} </td>
			<td>{{ q.ANS }} </td>
    		<td>{{ q.PL }} </td>
            <td><form method="POST"><input type="hidden" id="q_id" name="id" value="{{ q.ID }}"><input type="submit" value="Delete"></form></td>
            <td><form action="{{ url_for('edit') }}" method = 'POST'>
                <input type="hidden" name="id" value="{{ q.ID }}">
                <input type="hidden" name="top" value="{{ q.TOPIC }}">
                <input type="hidden" name="qual" value="{{ q.QUAL }}">
                <input type="hidden" name="ans" value="{{ q.ANS }}">
                <input type="hidden" name="pl" value="{{ q.PL }}">
                <input type="submit" value="Edit">
            </form>
            </td>

    	</tr>
    {% endfor %}
</table>
<nav>
    <ul>
        <p class="chat"><a href="{{ url_for('show_admin') }}">Admin Home Page</a></p>
    </ul>
</nav>
</body>
</html>
