/* CSS Document */
body {
    font: 16px;
    font-family: "Georgia", serif;
    color: #D3BF96;
    text-align:center;
    padding:35px; 
    background-color: #0c2340; /* blue */
}

header{
    background-color: #0c2340;
    color: #f47321; /* orange */
    font-size: 20px;
    font-family: "Georgia", serif;
    padding: 40px;
    text-align: left;
}

footer{
    background-color: #f47321;
    color: #0c2340;
    font-size: 12px;
    font-family: "Georgia", serif;
    text-align: center;
    float: center;
}

div {
    background-color: #0c2340;
    color: #D3BF96;
    float: center;
    font-size: 16px;
    font-family: "Georgia", serif;
    border-radius: 5px;
}
  
p, span {
    margin:0;
    padding:0; 
    color: #D3BF96 /* begie */
    background-color:#0c2340;
}

form{
    text-align: center;
    float: center;
    background-color: #0c2340;
    color: #f47321;
    padding: 14px 16px;
    font-size: 16px;
    font-family: "Georgia", serif;
}
  
input { 
    font-size:16px;
    font-family: "Georgia", serif;
    margin: 10px 0;
    padding: 14px 16px;
    box-sizing: border-box; 
    width: 100%;
    display: inline-block;
    border-radius: 4px;
}

input[type:text]:focus {
    background-color: #1258DC;
}

input[type=submit] {
    width: 100%;
    background-color: #f47321;
    color: #D5D2CA;
    margin: 1px 1px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 4px;
}

input[type=submit]:hover{
    background-color: #051739;
}

li{
    display:inline;
    float: center;
}
  
li a:link, li a:visited {
    background-color:#f47321;
    color:#D5D2CA;
    text-decoration:none;
    display: inline-block;
    padding: 14px 16px;
    text-align: center; 
    float: center;
    border-radius: 4px;
}
  
li a:hover, li a:active { 
    text-decoration:underline; 
    background-color: white;
}

table {
    font-size: 16px;
    font-family: Georgia, serif;
    border-bottom:2px solid #f47321;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    font-size: 16px;
    text-align: center;
    border-bottom: 2px solid #f47321;
    padding: 8px;
}

tr:hover {
    background-color: #0F2652;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0c2340;
    font-size: : 18px;
    display:  inline-block;
    border-radius: 4px
}

button {
    background-color: #D3BF96;
    color: #0c2340;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f47321;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #D3BF96; 
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #f47321;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.form-element form-element-wrapper {
    width : 50%;
    float : center;
    text-align : left;
}

#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#091834;
    width:504px;
    border:4px solid #0c2340; }
  
#loginform { padding-top:18px; }
  
#loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#D3BF96;
    height:270px;
    width:430px;
    border:4px solid #0c2340;
    overflow:auto; 
    color: #144EB8;
}
  
#usermsg {
    width:395px;
    text-align:left;
}

#botmsg {
    width:395px;
    text-align:right;
}
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }
